/* foglio di stile per pagina MEDIUM
Data: 11.05.2024
ver. 1.0

*/

/*global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(243, 244, 244);
}
/*----- HEADER BEGIN ----*/
nav{
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    border-bottom: 1px solid grey;
    
}
.logo{
    /*border: 1px solid blue;*/
    display: flex;
    max-width: 150px;
    max-height: 90px;
    min-width: 100px;
    min-height: 60px;
    margin-left: 5px;
}
.logo img{
    object-fit:cover;
    width: 100%;
    height: 100%;
}
.headlink{
    /*border: 1px solid blue;*/
    display: flex;
    justify-content: end;
    max-height: 80px;
}
.headlink ul{
    display: flex;
    gap:10px;
    justify-content: space-between;
    align-items: center;
    
}
.headlink ul li:last-child{
    margin-right: 25px;
}

.headlink ul li{
    list-style-type: none;
}
.headlink ul li a{
    text-decoration: none;
}
.headlink ul .resume img{
    border: 1px solid rgb(1, 20, 1);
    border-radius: 25px;
    padding: 2px;
}
.headlink ul li img{
    width: 100%;
}
/*------------HEADER END------*/

/*-------MAIN BEGIN-------*/
.maincontainer{
    /*border:1px solid black;*/
    display: flex;
    margin-top: 10px;
    
}
.leftcolumn{
    flex:2;
    border-right: 1px solid grey;
    max-height: vh;
    /*background-color: aqua;*/
    /*border: 1px solid orange;*/
}
.rightcolumn{
   /* border: 1px solid red;*/
    flex:1;
    text-align: center;
    /*background-color: rgb(54, 107, 91);*/
}

/*barra link colonna di sinistra*/
.leftlink ul{
    display: flex;
    gap:20px;
    justify-content:flex-start
}
.leftlink ul li{
    list-style-type: none;
}
.leftlink ul li a{
    text-decoration: none;
    color:rgb(20, 20, 20);
}
.leftlink ul li:first-child{
    margin-left: 5px;
}
.leftlink ul li a:focus{
    color:black;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.leftlink ul li a:hover{
    color:red;
    font-weight: bold;
}

/*   SEZIONI*/
.sectionbox{
    /*border: 1px solid purple;*/
    padding: 10px;
    

}
.sectionheader{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    margin-top: 10ppx;
    /*margin-left: 10px;*/
    
}
.sectionheader img{
    border-radius: 15%;
}

.sectionheader span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 10px;
}
.sectioncontent{
    /*border: 2px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    position: relative;
    padding: 5px;
    
}
.sectiontxt{
    /*border: 2px solid rgb(85, 58, 182);*/
    max-width: 80%;
    max-height: 125px;
    flex:2;
}
.sectiontxt p{
    color:gray;
    font-size: 15px;
    padding: 0 15px 1px 0;
}
.sectionimage{
    /*border: 2px solid red;*/
    max-width: 25%;
    /*max-height: 125px;*/
    height: 100%;
    position: absolute;
    top:2px;
    right: 10px;
    flex:1;
}
.sectionimage img {
    width: 100%;
    height: 98%;
    object-fit:fill;
    
}
/* SECTION FOOTER*/
.sectionfooter{
    /*border:1px solid yellowgreen;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.sectiondetails span{
    padding: 5px;
}
.details{
    font-size: 12px;
    color:grey;

}
.sectionother{
    display: flex;
    justify-content: flex-end;
}
.sectionother div{
    max-height: 50px;
    padding-right: 10px;
}
.sectionother div img{
    width: 100%;
    object-fit:cover;
}
/* COLONNA DESTRA */

.rightcolumn p{
    margin-top: 10px;
    font-size: 18px;
}
.dxheaderlink{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 2px;
    max-height: 50px;
}

.dxheaderlink .mediumlogo, .dxheaderlink .twitterlogo{
    /*border: 1px solid blue;*/
    max-height: 50px;
}
.dxheaderlink img{
    width: 100%;
    object-fit: cover;
    margin-left: 2px;
}

.twitter{
    /*border:1px solid red;*/
    display: flex;
    justify-content: center;
    align-items:end;
    position:relative;
    
}
.twitter  a{
    text-decoration: none;
}


.bottonetwitter {
    width: 120%;
    height: 55px;
    background-image: url('../img/twitter.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 8px;
    border-radius: 25px;
    text-align: end;
    padding-right: 5px;
    border: 1px solid black;
    padding: 15px;
    margin-top: 15px;
}
.rightcolumn .later{
    margin-top:20px;
    margin-bottom:30px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}
.recommended p, .whofollow p{
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
#recommended-element {
    /*border: 1px solid #c5c5c5;*/
    width: 90%;
    max-height: 200px;
    display: flex;
    flex-flow: column wrap;
}
#recommended-element>div {
    background-color: rgba(121, 121, 124, 0.2);
    border: 3px solid rgb(160, 160, 163);
    /*width: auto;*/
    margin: 10px;
    border-radius: 25px;
    padding: 8px 16px;
    /*box-sizing: inherit;*/
}
#recommended-element>div>a{
    text-decoration: none;
    background-color: rgba(121, 121, 124, 0.2);
}
#follow{
    width: 90%;
    max-height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-flow: column nowrap;
    
}
#follow .followdiv{
    background-color: rgba(121, 121, 124, 0.2);
    border: 3px solid rgb(41, 41, 161);
    /*width: auto;*/
    margin: 10px;
    border-radius: 25px;
    padding: 8px 16px;
}
#follow .followItem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;

}
#follow .followItem img{
    border-radius: 25px;
}
#follow .followItem h4{
    margin-left: 10px;
}
#follow .followItem a{
    text-decoration: none;
}

#follow .followItem:first-child{
    flex:1;
}
#follow .followItem:last-child{
    flex:1;
}